@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
:root {
    --navbar-color: #1981e6;
    --sidebar-color: #479aeb;
    --hover-color: #1774cf;
    --hamlet-font: 'Hahmlet', serif;
}

body {
    margin: 0;
    font-family: var(--hamlet-font);
}

#content {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: 
        "navbar navbar"
        "sidebar inbox";
}

.navbar {
    grid-area: navbar;
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.navbar-text {
    color: white;
    justify-self: start;
    align-self: center;
    padding-left: 10%;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    display: grid;
    grid-template-rows: 50px 2fr;
}

.sidebar-content {
    display: grid;
    grid-template-rows: repeat(3, 50px) 100px 100px;
    grid-row: 2;
}
.inbox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height:100%;
    min-width:100%;
}

.inbox-item:hover {
    background-color: var(--hover-color);
}

.inbox-container {
    grid-area: inbox;
}