@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
:root {
    --navbar-color: #1981e6;
    --sidebar-color: #479aeb;
    --hover-color: #1774cf;
    --hamlet-font: 'Hahmlet', serif;
    --cancel-btn-color: #ff3333;
}

body {
    margin: 0;
    font-family: var(--hamlet-font);
}

#content {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: 
        "navbar navbar"
        "sidebar inbox";
}

.navbar {
    grid-area: navbar;
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.navbar-text {
    color: white;
    justify-self: start;
    align-self: center;
    padding-left: 10%;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    display: grid;
    padding: 10%;
    grid-template-rows: 50px 2fr;
}

.sidebar-content {
    display: grid;
    grid-template-rows: repeat(autofit, 1fr);

    grid-row: 2;
}
.sidebar-item {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 2px;
    max-height:50px;
    width:100%;
}

.sidebar-item > .inbox-item {
    color: black;
    border: 2px solid black;
}
.sidebar-item:hover {
    background-color: var(--hover-color);
}

.inbox-container {
    grid-area: inbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inbox-header {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.inbox-item {
    min-width: 50%;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    border: 2px solid black;
}

.inbox-item:hover {
    background-color: var(--sidebar-color);
    color: white;
    border: 2px solid white;
}

.form-popup, .add-item-form {
    display: none;
    padding: 12px;
  }

.form-container {
    max-width: 300px;
    
}

.form-container input[type=text] {
    width: 97%;
    height: 10%;
    margin-bottom: 12px;
}

.form-container .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel-btn {
    color: white;
    background-color: var(--cancel-btn-color);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width:50%;
    margin-bottom: 10px;
    opacity: 0.8;
}